/* Styles go here */
.hdr {
    list-style: none;
    background: darkred;
}

.hdr:after{
    content: '';
    clear: both;
    display: block;
}

.hdr .opt{
    float: left;
    padding:10px;
}

a{
    color: white;
}

a:hover{
    color: blue;
    cursor: pointer;
}


#login{
    float: right;
    padding-right:10px;
}

.form-group{
    color: white;
}

.btn-link{
    cursor:pointer;
    background-color: Transparent;
    border: none;
}

.signinPg, .tab-pane-style{
    background: -webkit-linear-gradient(right, rgba(70,0,0,0), rgba(70,0,0,1));
    height:560px;
    width: 100%;
    font-size: 1em;
    padding: 10px;
}

img {
    width:100%;
    height: 545px;
}

.dessert{
    background-image: url('../images/dessert.jpe');

}

.starter{
    background-image: url('../images/starter.jpe');
}

.mainCourse{
    background-image: url('../images/mainCourse.jpe');
}

.back::after {
    content: "";
    background: url('../images/home2.png');
    opacity: 0.4;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right:1px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

h2, h3{
    text-decoration: underline;
    color: white;
}

.frm{
    width:50%;
}

.btn {
    color: darkred;
}

.tab-content {
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.menu{
    width: 32%;
    border: 3px solid darkred;
    float: left;
    margin: 5px;
    height: 55%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-weight:bold;
}

h4{
    text-align: center;
    text-decoration: underline;
}

th{
    background-color:#2a7cdf;
}

.divTable{
    overflow-y:scroll;
    height:400px;
    background-color:whitesmoke;
}

